.restaurantArea {
    border: 1px solid #C0C0C0;
    border-radius: 8px;
    width: 70%;
    margin-right: 4%;
    height: 800px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: url("http://localhost:8080/documents/20181/0/Floor/117948c1-7f70-4745-8aef-872b2c9ac745?t=1477397696378");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a[disabled="disabled"] {
    pointer-events: none;
}

.form-error {
    color: #8B0000;
}

.restaurant-table {
    border: 1px solid black;
    position: absolute;
    cursor: pointer;
    background-image: url("/documents/20181/0/Table/36be69cb-3ab4-4b13-9dbe-0d0c0c549577?t=1477394899653");
    background-attachment: fixed;
    background-size: 100%;
}

.restaurant-table:hover {
    background: #6d4700;
}

.td_input {
    vertical-align: top;
}

.td_label {
    font-weight: bold;
}

.term-choice {
    padding: 0 35%;

.btn {
    width: 67% !important;
    border-radius: 6px;
    color: #FFF;
    background: #2aaae6;
    padding: 4px 0px !important;
}
}

.table-info {
    border: 1px solid #C0C0C0;
    border-radius: 8px;
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    height: 800px;
    display: inline-block;
    vertical-align: middle;

.btn {
    width: 100% !important;
    border-radius: 6px;
    color: #FFF;
    background: #2aaae6;
    padding: 4px 0px !important;
}

.custom-input {
    width: 95%;
    border-radius: 6px;
}

.formItem {
    margin-bottom: 15px;
}
}

.print-btn {
    background: #2aaae6;
    color: #FFFFFF !important;
    text-decoration: none !important;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold !important;
    margin-top: 20px;
    font-size: 16px;

    i {
    font-size: 25px;
    margin-right: 7px;
}
}

.management-btn {
    background: #2aaae6;
    color: #fff !important;
    text-decoration: none !important;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    width: 65%;
    text-align: center;
}

.reservations-list {
    text-align: center;
    width: 100%;

td {
    border: 1px solid #C0C0C0;
}

a {
    cursor: pointer;
}

}