@font-face {
    font-family: RestaurantFont;
    src: url("../fonts/RestaurantFont.otf") format("opentype");
}

.custom-logo {
    img {
        width: 70px;
        height: auto;
    }
    .site-name {
        font-family: RestaurantFont;
        vertical-align: middle;
        font-size: 50px;
    }
}

@media (max-width: 979px) and (min-width: 401px) {
    .custom-logo {
        .site-name {
            font-size: 40px;
        }
    }
}

@media (max-width: 400px) {
    .custom-logo {
        img {
            width: 40px;
        }
        .site-name {
            font-size: 35px;
        }
    }
}

.nav-collapse {
    a {
        padding: 10px !important;
    }
}

.navbar-inner {
    background: #333 !important;
}

@media (min-width: 980px) {
    .site-navigation .navbar-inner .nav-collapse {
        li {
            margin-right: 15px;
        }
    }
}

.aui #navigation .nav>.active>a {
    background-image: -webkit-linear-gradient(#b59878 0, #a07f5b 47%, #96724b 100%) !important;
}

.aui .site-navigation {
    margin-bottom: 30px;
}

.customFooter {
    background: #333;
    padding: 18px;
    height: auto;
}

.footerSocial {
    color: #FFF;
    float: left;

    span {
        vertical-align: super;
        font-weight: bold;
        font-size: 22px;
    }

    ul {
        list-style-type: none;
        display: inline;
        margin-left: 15px;
    }

    li {
        display: inline;
        margin-right: 12px;
    }

    a {
        font-size: 35px;
        color: #FFF;
        text-decoration: none !important;
        cursor: pointer;
    }

    a:hover {
        color: #96724b
    }
}

.footerLanguage {
    color: #FFF;
    float: right;

    span {
        vertical-align: super;
        font-weight: bold;
        font-size: 22px;
    }

    ul {
        list-style-type: none;
        display: inline;
        margin-left: 15px;
        vertical-align: super;
        font-size: 22px;
    }

    li {
        display: inline;
        margin-right: 12px;
    }

    a {
        color: #FFF;
        cursor: pointer;
    }

    a:hover {
        color: #96724b
    }

    i {
        font-size: 35px;
        margin-left: 10px;
    }
}

@media(max-width: 770px) {
    .footerLanguage {
        float: none;
        margin-top: 10px;
    }

    .footerSocial {
        float: none;
    }

    .bottomSection {
        margin-top: 40px !important;
    }
}

.bottomSection {
    clear: both;
    color: #C0C0C0;
    text-align: center;
    width: 100%;
    border-top: 1px solid #C0C0C0;
    margin-top: 50px;
    padding-top: 18px;

    a {
        color: #FFF;
        cursor: pointer;
    }

    a:hover {
        color: #96724b
    }
}

@media (max-width: 450px) {
    .footerSocial {
        span {
            font-size: 15px;
        }

        ul {
            margin-left: 10px;
        }

        li {
            margin-right: 7px;
        }

        a {
            font-size: 30px;
        }
    }

    .footerLanguage {
        span {
            font-size: 15px;
        }

        i {
            font-size: 30px;
        }

        ul {
            font-size: 15px;
        }
    }
}

.languageFlags {
    float: right;
    margin-top: 30px;

    img {
        width: 30px;
    }

    a {
        margin-right: 10px;
    }

    span {
        font-weight: bold;
        vertical-align: middle !important;
        margin-right: 5px;
        font-size: 16px;
    }
}